html {
  background-color: #0F0F0F;
  color: white;
}

body {
	line-height: 1.5;
	font-family: League Spartan;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color:white;
  text-align: center;
  margin: 0px;
  padding-bottom: 80px;
}

#title {
  color: #E8EAED;
  text-align: center;
	font-size: 220%;
	font-weight: bold;
  padding-top: 25px;
}

#infoText {
  margin: 30px auto;
  font-style: italic;
  font-weight: bold;
}

#inputContainer {
  margin: 30px auto;
}

#languageDiv {
  padding-bottom: 10px;
}



#infoIcon {
  position: relative;
}
#infoIcon.hidden {
  display: none;
}
/* Tooltip text */
#infoIcon .tooltiptext {
  font-size: 80%;
  visibility: hidden;
  width: max-content;
  background-color: #272727;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: -60%;
  left: 105%; 
}
/* Show the tooltip text when you mouse over the tooltip container */
#infoIcon:hover .tooltiptext {
  visibility: visible;
}
#infoIcon .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #272727 transparent transparent;
}
#infoIcon .tooltiptext {
  opacity: 0;
  transition: opacity 1s;
}
#infoIcon:hover .tooltiptext {
  opacity: 1;
}


#controls {
  display: flex;
  margin-top: 2rem;
  max-width: 80%;
  margin: auto;
  justify-content: center;
} 

.controlButton {
  color: white;
  background-color: #272727;
  flex-grow: 1;
  height: 3rem;
  max-width: 120px;
  border: none;
  border-radius: 8px;
  margin: 2px 8px;
  box-shadow: inset -0.15rem -0.15rem 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
}
.controlButton:hover {
  background-color: #3F3F3F;
}
.controlButton:disabled {
  opacity: 0.5; 
  box-shadow: inset 0.15rem 0.15rem 0 rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

#recordButton {
  color: red;
}

#recDisplay {
  color: white;
  padding-top: 13px;
	width: 50px;
	height: 50px;
	font-size: 0;
	background-color: red;
	border: 0;
	border-radius: 35px;
	margin: 30px auto 10px auto;
	outline: none;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.notRec{
	background-color: darkred !important;
  color: lightgray !important;
}
.isRec{
	animation-name: pulse;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes pulse{
	0%{
		box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
	}
	65%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,.3);
	}
	90%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,0);
	}
}

#statusDisplay {
  height: 30px;
  font-style: italic;
}

#recording-title.hidden {
  display: none;
}
#recording-title {
  margin: 20px auto 10px auto;
}

.recordingCollection {
  padding: 5px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: #272727;
}

audio {
  border-radius: 5px;
  display: block;
  width: 100%;
  margin-top: 0.2rem;
}

li {
  list-style: none;
  margin-bottom: 1rem;
}

#recordingsList{
	max-width: 28em;
  margin: auto;
  padding: 0px;
}

.bottomButton {
  display: inline-block;
  padding: 5px 10px;
  margin: 8px 5px;
  border: 0.12em solid rgba(255, 255, 255, 0);
  background-color: #0074A6;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
}

.bottomButton:hover {
  border-color: rgb(255, 255, 255);
}

#transcribeStatus {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
}

#transcribeStatus.hidden {
  visibility: hidden;
  opacity: 0;
}

#footer {
  padding-top: 20px;
  background-color: #1B1B1B;
  color: gray;
  font-size: small;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
}



#mailInput {
  margin-left: 10px;
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: white;
  background: #121212;
  border: 1px solid #787878;
  border-radius: 30px;
  padding: 12px;
  width: 180px;
  height: 5px;
}

#mailInput:focus {
  outline-width: 1px;
}

#mailInput.notValid {
  border: none;
  border: 1px solid red;
}

#languageSelect {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left: 10px;
  max-width: fit-content;
  padding: 5px 35px 5px 5px;
  border: 1px solid #CCC;
  height: 30px;
  color: white;
  background: #282828;
  border: 1px solid #303030;
  border-radius: 30px;
  padding-left: 14px;
  padding-right: 24px;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

#languageSelect:hover {
  cursor: pointer;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: .2; /* Firefox */
}

.inProgressBlinking {
  animation: blinker3 1s ease-in-out infinite alternate;  
}
@keyframes blinker3 { to { opacity: 0; } }